/* BUTTONS */

.button {
  @include pie;
  font-family: $TradeGothicBold;
  font-size: 15px;
  line-height: 15px;
  border: 1px transparent;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 13px 20px 12px 20px;
  height: auto;
  @include box-shadow(rgba(0,0,0,0.35) 1px 1px 1px);
  position: relative;
  left: -1px;
  outline: none;

  &:hover {
    cursor: pointer;
  }

  &.disabled:hover {
    cursor: default;
  }

  &.primary {
    @extend .orange
  }

  &.secondary {
    @extend .black
  }

  &.supplementary {
    @extend .light-gray
  }

  &.supplementary-alt {
    @extend .dark-gray
  }

  //
  // COLORS
  //

  &.orange {
    @include background(linear-gradient(#FD7300, #F72800));
    color: #fdfdfd;

    @include box-shadow(rgba(0,0,0,0.30) 1px 1px 1px);

    border-style: solid;
    border-width: 1px;
    border-color: #FD8D2E transparent #B51D00 transparent;

    &:hover,&.hover{
      @include background(linear-gradient(#F72800, #FD7300));
      border-color: #F72800 transparent #FD7300 transparent;
    }

    &.disabled, &.diabled:hover, &.disabled:active{
      @include background(linear-gradient(#F72800, #FD7300));
      @include opacity(0.20);
    }
  }

  &.black {
    @include background(linear-gradient(#4a4a4a, #1b1b1b));
    color: #ffffff;

    border-style: solid;
    border-width: 1px;
    border-color: #4a4a4a transparent #1b1b1b transparent;

    &:active,&.active,&:hover,&.hover{
      @include box-shadow(rgba(0,0,0,0.25) 1px 1px 1px 1px inset);
      @include background(linear-gradient(#1b1b1b, #4a4a4a));
    }

    &.disabled, &.diabled:hover, &.disabled:active{
      @include background(linear-gradient(#c9c9c9, #b8b8b8));
      @include box-shadow(rgba(205,205,205, 1) 1px 1px 1px 1px);
      border-color: #c9c9c9 transparent #b8b8b8 transparent;
    }
  }

  &.light-gray {
    @include background(linear-gradient(#F4F4F4, #DDDDDD));

    border-style: solid;
    border-width: 1px;
    border-color: #F4F4F4 transparent #DDDDDD transparent;
    color: #555;
    
    &:hover,&.hover{
      @include background(linear-gradient(#E9EAEB, #CACBCD));
      border-color: #E9EAEB transparent #CACBCD transparent;
    }
    &:active,&.active{
      @include box-shadow(rgba(0,0,0,0.25) 1px 1px 1px 1px inset);
      @include background(linear-gradient(#D4D5D8, #EFEFF1));
    }

    &.disabled, &.diabled:hover, &.disabled:active{
      @include box-shadow(rgba(205,205,205, 1) 1px 1px 1px 1px);
      @include background(linear-gradient(#F4F4F4, #DDDDDD));
    }
  }

  &.dark-gray
  {
    @include background(linear-gradient(#D9D9D9, #BFBFBF));

    border-style: solid;
    border-width: 1px;
    border-color: #D9D9D9 transparent #BFBFBF transparent;
    color: #666666;

    &:hover,&.hover{
      @include background(linear-gradient(#CBCACA, #AAA7A7));
      border-color: #CBCACA transparent #AAA7A7 transparent;
    }
    &:active,&.active{
      @include box-shadow(rgba(0,0,0,0.25) 1px 1px 1px 1px inset);
      @include background(linear-gradient(#B4B4B4, #E3E3E3));
    }

    &.disabled, &.diabled:hover, &.disabled:active{
      @include box-shadow(rgba(170,170,170, 1) 1px 1px 1px 1px);
      @include background(linear-gradient(#D9D9D9, #BFBFBF));
    }
  }

  //
  // SIZES
  //

  &.x-small
  {
    font-size: 12px;
    line-height: 12px;
    padding: 4px 10px 2px 10px;
  }

  &.small
  {
    padding: 6px 20px 4px 20px;
  }

  &.regular
  {
    padding: 15px 20px 15px 20px;
  }

  //
  // POSITION
  //
  &.to-right
  {
    left: auto;
    right: 1px;
  }

}

// Back to Top Button60
.scroll-top-container {
  position:fixed;
  bottom:125px;
  right:30px;
  overflow:hidden;
  .scroll-top {
    @include sprite-dimensions($sprites, back-to-top);
    @include sprites-sprite(back-to-top);
    border-width:0px;
    box-shadow:0 0 0 0;
    display:none;
    &:hover {
      border-width:0px;
      box-shadow:0 0 0 0;
      @include sprite-dimensions($sprites, back-to-top-hover);
      @include sprites-sprite(back-to-top-hover);
    }
    &:focus {
      outline:0;
      outline-color: transparent;
    }
  }
}