@mixin load-indicator-view-positioning {
  margin-left: -43px;
  margin-top: -43px;
  position: absolute;
  width: 86px;
  height: 86px;
  top: 50%;
  left: 50%;
}

.load-indicator-root {
  display: none;
}

.load-indicator-view {

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  
  
  .load-indicator-background {
    background: #000;
    @include border-radius(14px);
    @include opacity(.8);
    @include load-indicator-view-positioning;
  }
  
  .load-indicator-spinner {
    background: image-url('shell/load-indicator-spinner.gif') center center no-repeat;
    @include load-indicator-view-positioning;
  }
}